
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
    <!-- Navbar Brand-->
    <a style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;font-size:26px

" class="navbar-brand ps-3" href="/AdminHome/Index">VLU TRANSFER</a>
    <!-- Sidebar Toggle-->
    <button style="color:white" class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
        <i class="fas fa-bars"></i>
    </button>
    <p style="color:white;margin-top:15px"><span style="font-weight:bold">Bây giờ là </span> @DateTime.Now.ToString(@"hh\:mm tt") <span style="font-weight:bold">, Ngày </span><span> @String.Format("{0:dd-MM-yyyy}", DateTime.Now)</span></p>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </form>
    <!-- Navbar-->
    <ul style="color:white" class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">

        <li class="nav-item dropdown">

            <a style="color:white" class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i>Quản trị viên</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/AdminLogin/Logout">Đăng xuất</a></li>
            </ul>
        </li>
    </ul>
</nav>
