
<div id="layoutSidenav_nav">

    <nav style="background-color: #F1F1F1 !important" class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <a class="nav-link" href="/AdminHome/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Bảng điều khiển
                </a>
                <a class="nav-link" href="/AdminPost/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lí bài đăng
                </a>
                <a class="nav-link" href="/AdminUser/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lí tài khoản
                </a>
                <img style="margin : 60px auto;width: 200px" src="https://career.gpo.vn/uploads/images/truong-hoc/vlu-1-.png" />
            </div>
        </div>

    </nav>
</div>

